.cta {
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 18px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover_underline_animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
  }
  
  .hover_underline_animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover_underline_animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  /* white */
  


  .hover_underline_animation_white {
    position: relative;
    padding-bottom: 6px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-top: 1rem;
    width: fit-content;
    display: flex;
    align-items: end;
    gap:1rem

  }
  
  /* .hover_underline_animation_white:hover {
    border-color: white;
  } */
  
  .hover_underline_animation_white::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
  }
  
  .hover_underline_animation_white:hover::after {
    transform: scaleX(1);
  }